:root {
    --the-second-lesson: #FF5733;
    --the-first-and-last-lesson: #33FF57;
    --the-third-lesson: #5733FF;
    --the-fourth-lesson: #FF33E6;
    --the-fifth-lesson: #33E6FF;
    --the-sixth-lesson: #ffffff;
    --first-background-for-lesson: #f9f9f9;
    --second-background-for-lesson: #f5f5f5;
}

tbody tr:nth-child(odd) {
    background-color: var(--first-background-for-lesson);
}

tbody tr:hover {
    background-color: var(--second-background-for-lesson);
}

tbody tr:nth-child(even) td:first-child {
    background-color: var(--the-second-lesson);
}

tbody tr:nth-child(odd) td:first-child {
    background-color: var(--the-first-and-last-lesson);
}

tbody tr:nth-child(3n) td:first-child {
    background-color: var(--the-third-lesson);
}

tbody tr:nth-child(4n) td:first-child {
    background-color: var(--the-fourth-lesson);
}

tbody tr:nth-child(5n) td:first-child {
    background-color: var(--the-fifth-lesson);
}

tbody tr:nth-child(6n) td:first-child {
    background-color: var(--the-sixth-lesson);
}